body {
    background-color: lightblue;
}

.divOrder {
    border-radius: 5px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    background-color: cornsilk;
}

h1, h3 {
    padding-left: 20px;
    padding-right: 20px;
}

form {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.formComponent {
    margin-top: 20px;
}

.formComponent label input[type="text"] {
    display: inline-block;
}

.formComponent label {
    margin-right: 20px;
    width: 20%;
}

.formComponent input[type="text"] {
    width: 80%;
}

input[type="submit"] {
    margin-bottom: 20px;
    margin-top: 30px;
}

