body{
    background-image: url("#{resource['images/backgroung-image3.jpg']}");
    background-repeat: repeat;
}

.divFilterForm {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 5px;
}

.pager a {
    margin-left: 5px;
    margin-right: 5px;
}

.customTop{
    margin-top: 20px;
}
.customLeft{
    margin-left: 10px;
}

tr {
    font-size: large;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

tr:nth-child(odd) {
    background-color: cornsilk;
}